{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Document</title>
</head>
<body>

    <div class="hero">
        <div class="hero-info">
          <h1 class="hero-info-heading">Welcome, my name is Josephine Ceria</h1>
          <h2 class="hero-info-subheading">I'm currently studying in Universitas Indonesia</h2>
          <br>
          <p class="hero-info-subheading">NPM : 1906398635 , Batch : Maung</p>
          <br>
          <img src="https://maung.id/static/faa2b48101a9dd31484403c17c136184/32ee9/MX30.jpg" alt="foto pribadi" width="300" height="450">
          
        </div>
        <div class="hero-img">
          <img src="./images/img-1.jpg" alt="" class="center">
        </div>
        
        <h2 class="hero-info-subheading" style="text-align:center">  I'm currently studying Computer Science because i wanted to learn how to code</h2>
         </section>
     

<br>
    <p style="font-size: 2em;">Education</p>
    <br>
<table class="table" style="width: 400px; height: 200px;" border = "1" >
<tbody>
<tr style="height: 30px;">
<td style="width: 130px; height: 30px; text-align: left;"><strong>Level</strong></td>
<td style="width: 100px; height: 30px; text-align: left;"><strong>Location</strong></td>
<td style="width: 130px; height: 30px; text-align: left;"><strong>Since</strong></td>
</tr>
<tr style="height: 32px;">
<td style="width: 130px; height: 30px; text-align: left;">Elementary</td>
<td style="width: 100px; height: 30px; text-align: left;">SDK 3 Penabur</td>
<td style="width: 100px; height: 30px; text-align: left;">2007 - 2013</td>
</tr>
<tr style="height: 30px;">
<td style="width: 130px; height: 32px; text-align: left;">Middle school</td>
<td style="width: 100px; height: 32px; text-align: left;">SMPK 1 Penabur</td>
<td style="width: 100px; height: 32px; text-align: left;">2013 - 2016</td>
</tr>
<tr style="height: 40px;">
<td style="width: 130px; height: 40px; text-align: left;">High School</td>
<td style="width: 100px; height: 40px; text-align: left;">SMAN 77 Jakarta</td>
<td style="width: 100px; height: 40px; text-align: left;">2016 - 2019</td>
</tr>
<tr style="height: 40px;">
<td style="width: 130px; height: 40px; text-align: left;">University</td>
<td style="width: 100px; height: 40px; text-align: left;">Universitas Indonesia</td>
<td style="width: 100px; height: 40px; text-align: left;">2019 - 2023&nbsp;</td>
</tr>
</tbody>
</table>
<br>
<br>
<h3> Click here to see my Instagram</h3>
<br>
<button onclick="window.location.href='https://www.instagram.com/josephineceria/';">
      IG
    </button>

</body>
</html>