@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wdth,wght@0,100,400;0,100,500;0,100,600;0,100,700;0,88,562;1,100,400;1,100,500;1,100,600;1,100,700&display=swap');

* {

    margin : 0;
    padding : 0;
}

html {
 font-size: 10px;
 font-family: sans-serif, 'Cabin';
 
}

.container {
	min-height: 500vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
		
}

.hero {
	min-height: 200vh;
	width:  100%;
	background-color: pink;
}

.hero .hero-info {
	width: 100%;
	text-align: center;
}
.hero .hero-info .hero-info-heading {
	font-size: 5rem;
	font-weight: 200;
	color: black;
}
.hero .hero-info .hero-info-subheading {
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .5rem;
	color: black;
}